<header class="claims-report__header js-claims-report__header">
  
  <div class="claims-report__logo">
    <img src="images/logo.svg">
  </div>
  
  <div class="claims-report__step__number">Step <span id="claims-report__step-current"></span> af <span id="claims-report__step-total">{{ usertest1.stepsTotalMin }}</span></div>
  <div class="claims-report__step__question">Giv din mening til kende</div>
  
  <a href="#" class="claims-report__close">
    <span class="claims-report__close__text claims-report__close__text--save-close">Gem & luk</span>
    <span class="claims-report__close__text claims-report__close__text--saving">Gemmer...</span>
    <span class="claims-report__close__text claims-report__close__text--finished">Luk</span>
    <span class="claims-report__close__icon"></span>
  </a>
</header>