{% include 'answer-summary.twig' %}

<div class="claims-report__answer">
  
  <form id="{{ id }}-form" class="claims-report__answer__form" method="post" action="">
    
    <div class="claims-report__answer__option">
    	<!-- Name -->
    	<div class="answer__option answer__option--input">
    		<label for="contact_name">Navn:</label>
    		<input type="text" id="contact_name" name="name" {{ answer.validation }} value="Anne Bruun Jensen"  disabled/>
    		<span class="error">Navn skal udfyldes</span>
    	</div>
    </div>
    
    <div class="claims-report__answer__option">
    	<!-- Phone -->
    	<div class="answer__option answer__option--input">
    		<label for="contact_phone">Telefonnummer:</label>
    		<input type="phone" id="contact_phone" name="name" {{ answer.validation }} value="26 58 21 43" disabled />
    		<span class="error">Telefonnummer skal udfyldes</span>
    	</div>
    </div>
    
    <div class="claims-report__answer__option">
    	<!-- Email -->
    	<div class="answer__option answer__option--input">
    		<label for="contact_email">E-mail:</label>
    		<input type="email" id="contact_email" name="email" {{ answer.validation }} value="annj@gfforsikring.dk" disabled/>
    		<span class="error">Indtast venlig en gyldig e-mail </span>				
    	</div>
    </div>
    
    <div class="claims-report__answer__option">
      <!-- Checkbox -->
      <div class="answer__option">
        <div class="answer__option__terms">
          Læs GF Forsikrings <a href="https://www.gfforsikring.dk/generel-information/persondatapolitik-og-samtykke" target="_blank">persondatapolitik og information om samtykke</a>.
        </div>
        <div class="answer__option answer__option--checkbox-single">
          <input type="checkbox" id="checkbox-Q132-1" name="checkbox-Q132-1" value="accepted" required />
          <label for="checkbox-Q132-1">Jeg har læst og accepteret GF Forsikrings persondatapolitik</label>
        </div>
      </div>
    </div>
    
    {% include 'submit-question.twig' %}
    
  </form>
  
</div>