<pre>Answer feedback</pre>

{% include 'answer-summary.twig' %}

<div class="claims-report__answer">
  
  <form id="{{ id }}-form" class="claims-report__answer__form" method="post" action="">
  
    {% include 'submit-question.twig' %}
  
  </form>
  
</div>