{% include 'answer-summary.twig' %}

<div class="claims-report__answer">
  
  <form id="{{ id }}-form" class="claims-report__answer__form" method="post" action="">
  
    <div class="claims-report__answer__option">
      <select class="answer__option answer__option--select">
      {% for answer in answers %}
        <option {% if loop.first %}selected disabled{% endif %} value="{{ answer.option }}">{{ answer.option }}</option>
      {% endfor %}
      </select>
    </div>
    
    {% include 'submit-question.twig' %}
  
  </form>
  
</div>