<div class="claims-report__answer__summary {{ classes }}">
  <span class="claims-report__answer__summary__text">{{ answerSummary }}</span>
  <a href="#" class="claims-report__answer-edit js-claims-report__answer-edit">{{ text.editAnswer }}</a>
</div>