{% include 'answer-summary.twig' %}

<div class="claims-report__answer">
  
  <form id="{{ id }}-form" class="claims-report__answer__form" method="post" action="">
    
    <div class="claims-report__answer__option">
      <div class="" style="text-align: center; padding: 15px;">
        
        <a href="#" class="js-submit" data-id="{{ id }}">
          <img class="placholder-img" src="images/samples/nemid-login-screenshot.png" width="200">
        </a>
        
      </div>
    </div>
  
    <!--{% include 'submit-question.twig' %}-->
  
  </form>
  
</div>