<div id="{{ id }}">
  
  <div class="claims-report__feedback__inner">
    
    <div class="claims-report__feedback__rating-gfx">
      <img class="claims-report__bouble-rating__shadow" src="images/gfx/gfx-bouble-rating__shadow.svg">
  
      <div class="claims-report__bouble-rating__smiley" src="images/gfx/gfx-bouble-rating__smiley-5.svg" data-rating="5">
        <img src="images/gfx/gfx-bouble-rating__smiley-5.svg">
      </div>
      <div class="claims-report__bouble-rating__smiley" src="images/gfx/gfx-bouble-rating__smiley-4.svg" data-rating="4">
        <img src="images/gfx/gfx-bouble-rating__smiley-4.svg">
      </div>
      <div class="claims-report__bouble-rating__smiley" src="images/gfx/gfx-bouble-rating__smiley-3.svg" data-rating="3">
        <img src="images/gfx/gfx-bouble-rating__smiley-3.svg">
      </div>
      <div class="claims-report__bouble-rating__smiley" src="images/gfx/gfx-bouble-rating__smiley-2.svg" data-rating="2">
        <img src="images/gfx/gfx-bouble-rating__smiley-2.svg">
      </div>
      <div class="claims-report__bouble-rating__smiley" src="images/gfx/gfx-bouble-rating__smiley-1.svg" data-rating="1">
        <img src="images/gfx/gfx-bouble-rating__smiley-1.svg">
      </div>
    </div>
    
    {% for answer in answers %}
      <div class="claims-report__feedback__item" data-rating="{{ answer.optionRating }}">
        <h3 class="claims-report__feedback__title">{{ answer.option }}</h3>
        <ul class="claims-report__feedback__dot-rating">
          <li class="claims-report__feedback__rating">
            <a href="#" class="js-claims-report__feedback__rating" data-rating="5">5</a>
          </li>
          <li class="claims-report__feedback__rating">
            <a href="#" class="js-claims-report__feedback__rating" data-rating="4">4</a>
          </li>
          <li class="claims-report__feedback__rating">
            <a href="#" class="js-claims-report__feedback__rating" data-rating="3">3</a>
          </li>
          <li class="claims-report__feedback__rating">
            <a href="#" class="js-claims-report__feedback__rating" data-rating="2">2</a>
          </li>
          <li class="claims-report__feedback__rating">
            <a href="#" class="js-claims-report__feedback__rating" data-rating="1">1</a>
          </li>
        </ul>
        <div class="claims-report__feedback__description">{{ answer.optionDescription }}</div>
      </div>
    {% endfor %}
    
  	<!-- Freeform message -->
  	<div class="answer__option--input claims-report__feedback__comment">
      <label for="freeform_message">Yderligere kommentarer</label>
  		<textarea id="freeform_message" name="message" required></textarea>
      					
  	</div>
    
    {% include 'submit-question.twig' %}
  </div>
  
  <div class="claims-report__feedback__inner claims-report__feedback__thanks js-claims-report__feedback__thanks">
    <h3 class="claims-report__feedback__title">Tusind tak for din feedback :-)</h3>
  </div>
  
</div>
