<div class="chat-speaker--left">
  <span class="chat-speaker___gfx"></span>
</div>

<div class="claims-report__typing">
  <div class="typing__dots">
    <div class="typing__dot"></div>
    <div class="typing__dot"></div>
    <div class="typing__dot"></div>
  </div>
</div>

<div class="claims-report__question">
  {{ question }}
  {% if questionInfo %}
    <div class="claims-report__question__info">{{ questionInfo }}</div>
  {% endif %}
</div>