{% if stepHeader %}
<div id="{{ id }}-header" class="claims-report__step-info">
  <span class="claims-report__step-info__text">
    <h3><span class="js-step-number" data-step=""></span>. <span class="js-step-header" data-stepid="{{ stepHeader }}">{ #stepHeader }</span></h3>
  </span>
</div>
{% endif %}