{% if answerSubmits %}

<div class="claims-report__answer__submit-wrap">
  
  {% for answerSubmit in answerSubmits %}
  <a href="#" class="claims-report__answer__submit {{ answerSubmit.classes }} js-submit" {% if answerSubmit.submit %}data-id="{{ id }}" data-answertype="{{ answerType }}"{% endif %}>{{ answerSubmit.text }}</a>
  {% endfor %}
  
</div>

{% endif %}